<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Map</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      
    </style>
</head>
<body>
    <div id="device-container">
        <!-- Tab Navigation -->
        <div id="tab-buttons">
            <button class="styled-tab-button" onclick="openTab('map-tab')">Map</button>
            <button class="styled-tab-button" onclick="openTab('faction-tab')">Factions</button>
        </div>
    
        <!-- Map Tab -->
        <div id="map-tab" class="tab-content">
            <div id="content-overlay">
                <div id="map-container">
                    <div id="map"></div>
                </div>
                <div id="left-menu-container">
                        <p class="left-menu-text-center">Menu</p>
                        <button class="left-menu-button">Test1</button>
                        <button class="left-menu-button">Test2</button>
                        <button class="left-menu-button">Test3</button>
                        <button class="left-menu-button">Test4</button>
                    
                </div>
            </div>
        </div>
    
        <!-- Faction Tab -->
        <div id="faction-tab" class="tab-content" style="display: none;">
            <div id="faction-table-container">
                <table id="faction-table">
                    <!-- Table rows will be added dynamically here -->
                </table>
            </div>
            
        </div>
    </div>
    
    <!-- Icon Creation Menu -->
    <div id="iconMenu" class="icon-menu">
        <h3>Create Icon</h3>
        <label for="iconSelect">Select Icon:</label>
        <select id="iconSelect">
            <option value="barracks">Barracks</option>
            <option value="base">Base</option>
            <option value="flag">Flag</option>
            <option value="hammer">Hammer</option>
        </select>

        <br><br>

        <label for="colorSelect">Select Color:</label>
        <input type="color" id="colorSelect" value="#ff0000">

        <br><br>

        <label for="iconName">Enter Name:</label>
        <input type="text" id="iconName">

        <br><br>

        <label for="iconDescription">Enter Description:</label>
        <textarea id="iconDescription"></textarea>

        <br><br>
              <!-- Faction Dropdown with a unique id for Create Modal -->
            <label for="factionSelectCreate">Faction:</label>
            <select id="factionSelectCreate">
        <!-- Dynamically populated with factions from the database -->
            </select>

        <br><br>

        <button id="createIcon">Create Icon</button>
        <button id="cancelIcon">Cancel</button>
    </div>

    <!-- Edit Icon Menu -->
    <div id="editIconMenu" class="icon-menu">
        <h3>Edit Icon</h3>
        <label for="editIconSelect">Select Icon:</label>
        <select id="editIconSelect">
            <option value="barracks">Barracks</option>
            <option value="base">Base</option>
            <option value="flag">Flag</option>
            <option value="hammer">Hammer</option>
        </select>

        <br><br>

        <label for="editColorSelect">Select Color:</label>
        <input type="color" id="editColorSelect" value="#ff0000">

        <br><br>

        <label for="editIconName">Enter Name:</label>
        <input type="text" id="editIconName">

        <br><br>

        <label for="editIconDescription">Enter Description:</label>
        <textarea id="editIconDescription"></textarea>

        <br><br>

             <!-- Faction Dropdown with a unique id for Edit Modal -->
            <label for="factionSelectEdit">Faction:</label>
            <select id="factionSelectEdit">
            <!-- Dynamically populated with factions from the database -->
            </select>

        <br><br>

        <button id="updateIcon">Update Icon</button>
        <button id="cancelEditIcon">Cancel</button>
    </div>
    

    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/EventListeners.js') }}"></script>
</body>
</html>
